html {
  margin: 0;
}

body {
  background-color: #121218;
  color: #BABCBE;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  height: 100%;
  margin: 0;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

a {
  color: goldenrod;
  text-decoration: none;
}

h1 {
  font-weight: 100;
}

h3 {
  font-weight: 400;
}

#profile {
  margin: 12vh auto 4vh;
  text-align: center;
  width: auto;
}

#pic {
  border: 4px solid goldenrod;
  border-radius: 50%;
  filter: contrast(1.2);
  height: 120px;
  margin: auto;
  width: 120px;
}

.banner {
  background-color: goldenrod;
  color: #121218;
  font-size: 24px;
  font-weight: 300;
  padding: 9px;
  width: auto;
}

#notice {
  background-color: #121218;
  border-bottom: 0.1px solid #202130;
  color: hotpink;
  font-family: monospace;
  font-weight: 700;
  padding: 16px;
  text-align: center;
  width: auto;
}

.grid {
  display: grid;
  grid-template-columns: auto;
}

#btn-menu {
  background-color: goldenrod;
  border-radius: 50%;
  color: #121218;
  cursor: pointer;
  padding: 10px 11px;
  position: fixed;
  top: 20px;
  right: 20px;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
}

#menu {
  grid-column: 1;
  overflow-y: scroll;
  padding: 0;
  width: 0;
}

.menu-item {
  border-bottom: 0.1px solid #121218;
  color: #BABCBE;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  padding: 16px 18px;
}

.menu-item:hover {
  background-color: #121218;
  color: goldenrod;
}

#content {
  background-color: #121218;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  padding-bottom: 35px;
}

.show-menu #menu {
  align-self: start;
  background-color: #202130;
  color: #BABCBE;
  display: grid;
  font-size: 16px;
  grid-column: 1;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.show-menu #content {
  grid-column: 1;
  grid-row: 2;
}

@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: max-content;
  }
  .show-menu #menu {
    display: none;
  }
  .show-menu #content {
    grid-column: 2;
    grid-row: 1;
  }
  #btn-menu {
    display: none;
  }
  #menu {
    align-self: start;
    background-color: #202130;
    color: #BABCBE;
    display: block !important;
    font-size: 16px;
    grid-column: 1;
    grid-row: 1/2;
    min-height: 100vh;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 0;
    position: sticky;
    top: 0;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  #content {
    grid-column: 2;
    grid-row: 1;
  }
}
.card {
  display: grid;
  padding: 20px 20px 0;
}

.heading {
  font-size: 32px;
  font-weight: 400;
  padding: 16px 16px 0;
}

.text {
  font-size: 16px;
  padding: 16px 16px 0;
  line-height: 32px;
}

.list-title {
  background-color: goldenrod;
  border-top: 0.1px solid goldenrod;
  border-left: 0.1px solid goldenrod;
  border-right: 0.1px solid goldenrod;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  color: #202130;
  font-size: 14px;
  font-weight: 700;
  margin: 0 10px;
  padding: 8px 20px;
}

.list {
  background-color: #202130;
  border: 0.1px solid goldenrod;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  padding: 8px 0 32px;
  margin: 0 10px;
}

.list-item {
  padding: 24px 24px 0;
}

.list-heading {
  color: goldenrod;
  font-weight: 700;
  padding: 0 16px;
}

.list-text {
  font-weight: 300;
  line-height: 32px;
  padding: 8px 28px 0;
}

#dmca {
  margin: 0 auto;
  padding: 20px;
  scale: 0.8;
}

#copyright {
  background-color: #121218;
  border-top: 1px solid #202130;
  color: #535360;
  font-size: 12px;
  padding: 10px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: auto;
  z-index: 2;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 300;
}

.thin {
  font-weight: 100;
}

.center {
  margin: auto;
  text-align: center;
}

.color {
  color: goldenrod;
}

::-webkit-scrollbar-thumb {
  background-color: #535360;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: goldenrod;
}

::-webkit-scrollbar-track {
  background-color: #202130;
}

::-webkit-scrollbar {
  width: 16px;
}

#menu::-webkit-scrollbar {
  width: 0;
}/*# sourceMappingURL=style.css.map */