* {
  scroll-behavior: smooth;
}

/**Set colors themes --------------------------------------------------------*/
body.dark-theme {
  --c0: rgb(8, 11, 12);
  --c1: rgb(255, 255, 255);
  --c2: rgb(30, 35, 40);
  --c3: rgb(255, 0, 0);
  --c4: rgb(120, 125, 130);
}

body {
  --c0: rgb(255, 255, 255);
  --c1: rgb(8, 11, 12);
  --c2: rgb(190, 195, 200);
  --c3: rgb(230, 0, 0);
  --c4: rgb(110, 115, 120);
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --c0: rgb(8, 11, 12);
    --c1: rgb(255, 255, 255);
    --c2: rgb(30, 35, 40);
    --c3: rgb(255, 0, 0);
    --c4: rgb(120, 125, 130);
  }
  body.light-theme {
    --c0: rgb(255, 255, 255);
    --c1: rgb(8, 11, 12);
    --c2: rgb(190, 195, 200);
    --c3: rgb(230, 0, 0);
    --c4: rgb(110, 115, 120);
  }
}
/**Create color classes */
.c0 {
  color: var(--c0);
}

.c1 {
  color: var(--c1);
}

.c2 {
  color: var(--c2);
}

.c3 {
  color: var(--c3);
}

.c4 {
  color: var(--c4);
}

#btn-theme {
  cursor: pointer;
}

/**Set cookie display -------------------------------------------------------*/
#cookie {
  background-color: var(--c2);
  color: var(--c1);
  line-height: 2em;
  padding: 10px 24px 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

#cookie-body h1 {
  font-weight: 300;
}

#btn-cookie {
  cursor: pointer;
  margin-left: auto;
  text-align: right;
  width: -moz-fit-content;
  width: fit-content;
}

/**Set scroll btn display ---------------------------------------------------*/
#btn-scroll {
  background-color: var(--c2);
  border: 3px solid var(--c2);
  border-radius: 50%;
  opacity: 0;
  padding: 8px 9.5px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 97;
}

#scroll-chevron-up {
  background-color: transparent;
  color: var(--c1);
  font-size: 16px;
}

/**Show all articles btn & filter btn ---------------------------------------*/
#btns {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: center;
}

#btn-show-all,
#btn-filter {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-bottom: 16px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: -moz-fit-content;
  width: fit-content;
}

#btns-spacer {
  display: none;
  margin-bottom: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#btn-filter {
  display: none;
}

#filters {
  display: none;
  margin-bottom: 8px;
}

#filter-tags {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(80px, auto));
}

#articles {
  display: none;
}

#show-posts-chevron-down {
  display: inline-block;
}

#show-posts-chevron-up {
  display: none;
}

#btn-show-all::before {
  content: "SHOW ALL";
}

#filter-chevron-down {
  display: inline-block;
}

#filter-chevron-up {
  display: none;
}

#btn-filter::before {
  content: "FILTER";
}

.show-all-posts #btns-spacer {
  display: inline-block;
}
.show-all-posts #articles {
  display: block;
}
.show-all-posts #btn-filter {
  display: flex;
}
.show-all-posts #show-posts-chevron-down {
  display: none;
}
.show-all-posts #show-posts-chevron-up {
  display: inline-block;
}
.show-all-posts #btn-show-all::before {
  content: "COLLAPSE";
}

.show-filters #filters {
  display: block;
}
.show-filters #filter-chevron-down {
  display: none;
}
.show-filters #filter-chevron-up {
  display: inline-block;
}

.tag-style {
  align-items: center;
  background-color: var(--c0);
  border: 1px solid var(--c0);
  border-radius: 32px;
  color: var(--c1);
  cursor: pointer;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  padding: 4px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/**Set templating classes ---------------------------------------------------*/
.bullet {
  color: var(--c3);
  font-weight: bold;
  padding-right: 6px;
}

.flex {
  align-items: center;
  display: flex;
  gap: 8px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.small {
  font-size: small;
}

.p {
  margin: 14px 0;
}

.no-break {
  display: inline-block;
  text-indent: 0;
  word-break: keep-all !important;
}

/**Set nav menu -------------------------------------------------------------*/
nav {
  background-color: var(--c0);
  display: block;
  font-family: monospace;
  gap: 2em;
  justify-content: right;
  margin: auto;
  max-width: 576px;
  padding: 16px;
  position: sticky;
  top: 0;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 98;
}

menu {
  background-color: var(--c0);
  color: var(--c1);
  display: none;
  gap: 16px;
  margin: 0;
  padding: 13px 0 0;
}

#menu-icon {
  color: var(--c4);
  cursor: pointer;
}

.show-menu nav {
  padding: 16px 16px 19px;
}
.show-menu #menu-icon {
  color: var(--c3);
}
.show-menu menu {
  display: grid;
}

@media only screen and (min-width: 640px) {
  nav {
    display: grid;
    padding: 16px;
  }
  #menu-icon {
    display: none;
  }
  menu {
    background-color: var(--c0);
    color: var(--c1);
    display: flex;
    padding: 0;
  }
  .show-menu nav {
    padding: 16px;
  }
  .show-menu menu {
    border: none;
    display: flex;
  }
}
/**Set main elements --------------------------------------------------------*/
body {
  background-color: var(--c0);
  color: var(--c1);
  font-family: Roboto;
  font-size: 14px;
  margin: 0;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

a {
  color: unset;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  margin: 14px 0;
}

h4,
p {
  margin: 14px 0;
}

header {
  line-height: 1.8em;
  margin: auto;
  max-width: 576px;
  padding: 64px 32px 0;
}
header h1 {
  font-weight: 700;
}

main {
  margin: auto;
  max-width: 576px;
  padding: 0 32px 64px;
}

article {
  border-top: 1px solid var(--c2);
  line-height: 1.8em;
  margin: auto;
  max-width: 576px;
  padding: 0;
}

footer {
  --padTop: 14px;
  --padBottom: 14px;
  background-color: var(--c0);
  border-top: 1px solid var(--c2);
  color: var(--c1);
  height: calc(100vh - (50px + var(--padTop) + var(--padBottom)));
  margin: 0 32px;
  padding: var(--padTop) 0 var(--padBottom);
}

/**Set footer policy attributes ---------------------------------------------*/
.policy {
  display: grid;
  gap: 14px;
  font-size: 0.8em;
  margin: auto;
  max-width: 576px;
  text-align: center;
}

/**Set scrollbar colors -----------------------------------------------------*/
::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-thumb {
  background: var(--c2);
}

::-webkit-scrollbar-track {
  background: var(--c0);
}

/**Set miscellaneous --------------------------------------------------------*/
.return {
  align-items: baseline;
  color: var(--c3);
  display: flex;
  font-family: Roboto;
  gap: 8px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 14px 0;
  width: -moz-fit-content;
  width: fit-content;
}

/**Set media ----------------------------------------------------------------*/
.iframe-container {
  display: grid;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

.iframe-blocked {
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

iframe {
  border: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

img {
  display: grid;
  width: 100%;
}

.media-src {
  color: var(--c4);
  font-size: 0.8em;
  line-height: 1em;
  word-break: break-all;
}

.fa-youtube {
  color: var(--c3);
  font-size: 16px;
}

/**Set hovers ---------------------------------------------------------------*/
@media (hover: hover) {
  nav a:hover,
  #btn-policy:hover,
  #btn-theme:hover,
  #user-agreement:hover,
  #privacy-policy:hover,
  #cookie-policy:hover,
  #btn-show-all:hover,
  #btn-filter:hover,
  #btn-cookie:hover,
  .media-src:hover,
  .red-hover:hover {
    color: var(--c3);
  }
  #btn-scroll:hover {
    background-color: var(--c1);
  }
  #btn-scroll:hover #scroll-chevron-up {
    color: var(--c3);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--c3);
  }
}/*# sourceMappingURL=common.css.map */