/**Landing page css -> no dependency */
* {
  scroll-behavior: smooth !important;
}

html,
body {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

body {
  background-color: royalblue;
  margin: 0;
  font-family: "Roboto";
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

#app {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

a[href^=tel] {
  color: rgb(210, 210, 210);
}

a[href^=mailto] {
  color: rgb(210, 210, 210);
}

header {
  background-color: royalblue;
  color: rgb(210, 210, 210);
  min-height: 30vh;
  padding: 100px 0 20px;
  text-align: center;
}

header > section {
  background-color: royalblue;
  margin: auto;
}

header > section > h1 {
  font-size: 32px;
  font-weight: 100;
}

header > section > h3 {
  font-size: 24px;
  font-weight: 700;
}

img {
  border: 4px solid rgb(210, 210, 210);
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

nav {
  background-color: rgb(32, 33, 36);
  position: sticky;
  top: 0;
}

nav > div {
  background-color: rgb(32, 33, 36);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 672px;
}

nav > div > a {
  color: royalblue;
  cursor: pointer;
  flex: 1 1 0px;
  flex-grow: 1;
  font-weight: 700;
  padding: 16px 0;
  text-align: center;
  transition: 0.2s;
}

@media (hover: hover) {
  nav > div > a:hover {
    background-color: rgb(210, 210, 210);
    color: rgb(32, 33, 36);
    font-size: 24px;
    font-weight: 400;
    padding: 8px 0;
  }
}
#home,
#about,
#contact,
#projects {
  scroll-margin-top: 48px;
}

#policy {
  padding: 40px 0;
  text-align: center;
}

main {
  display: grid;
}

section {
  background-color: rgb(210, 210, 210);
}

.content {
  padding: 40px 0;
}

h1,
h2,
h3,
h4 {
  margin: 20px auto;
  padding: 0 40px;
}

h1 {
  font-size: 32px;
}

p {
  line-height: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 672px;
  padding: 0 40px;
}

.blue-card {
  background-color: royalblue;
  color: rgb(210, 210, 210);
  padding: 0 0 40px;
}

.black-card {
  background-color: rgb(32, 33, 36);
  color: rgb(210, 210, 210);
  padding: 0 0 40px;
}

.black-card > h1,
.blue-card > h1 {
  margin: 0 auto;
  padding: 60px 40px 0;
}

.blue-card > p,
.black-card > p {
  padding: 0 40px;
}

footer {
  background-color: rgb(32, 33, 36);
  box-sizing: border-box;
  color: royalblue;
  min-height: 100vh;
  padding: 8px 0;
  text-align: center;
}

.color {
  color: royalblue;
}

.policy-color {
  color: hotpink;
  transition: 0.2s;
}

@media (hover: hover) {
  .policy-color:hover {
    color: yellowgreen;
    font-size: 16px;
  }
}
/**Scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(32, 33, 36);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: royalblue;
}

::-webkit-scrollbar-track {
  background-color: rgb(32, 33, 36);
}

::-webkit-scrollbar {
  width: 16px;
}

/**Responsive */
@media only screen and (min-width: 752px) {
  .content {
    margin-left: auto;
    margin-right: auto;
    min-width: 672px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .blue-card > h1,
  .black-card > h1,
  .black-card > h4 {
    margin: 0 auto;
    max-width: 672px;
  }
  .blue-card > p,
  .black-card > p {
    margin-left: auto;
    margin-right: auto;
    max-width: 672px;
  }
}/*# sourceMappingURL=main.css.map */